/* AppDownloadSection.css */
.app-download-section {
  background: #f8f9fa;
}

.app-preview {
  max-width: 100%;
  height: auto;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
.app-download-title {
  font-size: 2rem;
  color: #3e5ba9;
  margin-bottom: 1rem;
} 