/* StatsSection.css */
.stats-section {
  background: #3e5ba9; /* Dark blue background for contrast */
}

.stat-box {
  background-color: rgba(255, 255, 255, 0.05);
  color: #fff;
}

.stat-icon {
  font-size: 2.5rem;
}

.stat-value {
  font-size: 2rem;
  color: #f8f9fa;
}

@media (max-width: 576px) {
  .stat-value {
    font-size: 1.5rem;
  }

  .stat-icon {
    font-size: 2rem;
  }
}
